<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL FARMS</title>
  </head>
  <body>
    <h1><%= %> Farms</h1>
    <ul>
      <% for(let farm of farms) { %>
        <a href="/farms/<%= farm.id%>">
            <li><%= farm.name %></li>
        </a>
      <% } %>
    </ul>
    <a href="/farms/new">Add new farm</a>
  </body>
</html>
