<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>
<body>
    <h1>New Farm</h1>
    <form action="/farms" method="post">
        <label for="name">Farm Name</label>
        <input type="text" name="name" placeholder="farm name">
        <label for="city">Farm city</label>
        <input type="text" name="city" placeholder="farm city">
        <label for="email">Farm email</label>
        <input type="text" name="email" placeholder="farm email">
        <button type="submit">Add farm</button>
    </form>
</body>
</html>